body{
    background-image: url("swirlyblue.jpg");
}

table, th, td{
    border: 1px solid;
    padding: 3px;
    border-spacing: 3px;
    table-layout: fixed;
    width: 100px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    
}
table{
    width:800px;
}
a{
    color: blue;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace ;
}
a:visited{
    color:blue;
    font-family: 'Courier New', Courier, monospace ;
}
a:hover{
    text-decoration: underline;
    color:blue;
    font-family: 'Courier New', Courier, monospace ;
}
.Biology{
    background-color:#F9629F;
    font-family: 'Courier New', Courier, monospace ;
}
.Work{
    background-color: #1E2952;
    font-family: 'Courier New', Courier, monospace ;
    color: white;
}
.Public{
    background-color: skyblue;
    font-family: 'Courier New', Courier, monospace ;
}
.Discrete{
    background-color: mediumspringgreen;
    font-family: 'Courier New', Courier, monospace ;
}
.Web_Programming{
    background-color: #DDA0DD;
    font-family: 'Courier New', Courier, monospace ;
}
.Institute{
    background-color: #50C878;
    font-family: 'Courier New', Courier, monospace ;
}
.Lunch, .Dinner{
    background-color: #E34234;
    font-family: 'Courier New', Courier, monospace ;
}
.Work_Out{
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace ;
}
.Driving{
    background-color: #39FF14;
    font-family: 'Courier New', Courier, monospace ;
}
img{
    width:500px;
    height: auto;
    float: right;
    border:solid 5px white;
    box-shadow: 0 0 5px black;
    
}
#haiku{
    display: inline-block;
    padding: 10px;
    border: 10px;
    background-image: url("ripped.jpg");
    background-color: #cccccccc;
    z-index: -1;
    background-position: center;
    background-size:340px auto ;
    
}
.center{
    text-align: center;
    box-align: auto auto;
}
p{
    font-family: 'Courier New', Courier, monospace ;
}
li{
    font-family: 'Courier New', Courier, monospace ;
}
strong{
    font-family: 'Courier New', Courier, monospace ;
}
em{
    font-family: 'Courier New', Courier, monospace ;
}
h1, h2{
    font-family: 'Courier New', Courier, monospace ;
}
h1{
    font-size:35px;
    text-align: center;
}
.background{
    background-color: white;
    width: 75%;
    margin:auto auto;
    padding: 5px;
}
#HaikuPara{
    width:310px;
}