body{
    background-image: url("swirlyblue.jpg");
}

table, th, td{
    border: 1px solid;
    padding: 3px;
    border-spacing: 3px;
    table-layout: fixed;
    width: 100px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    
}
a{
    color: #00FF00;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace ;
}
a:visited{
    color:#00FF00;
    font-family: 'Courier New', Courier, monospace ;
}
a:hover{
    text-decoration: underline;
    color:#00FF00;
    font-family: 'Courier New', Courier, monospace ;
}
.Biology{
    background-color:palegoldenrod;
    font-family: 'Courier New', Courier, monospace ;
}
.Work{
    background-color: indianred;
    font-family: 'Courier New', Courier, monospace ;
}
.Public{
    background-color: skyblue;
    font-family: 'Courier New', Courier, monospace ;
}
.Discrete{
    background-color: mediumspringgreen;
    font-family: 'Courier New', Courier, monospace ;
}
.Web_Programming{
    background-color: darkgoldenrod;
    font-family: 'Courier New', Courier, monospace ;
}
.Institute{
    background-color: lightsalmon;
    font-family: 'Courier New', Courier, monospace ;
}
.Lunch{
    background-color: lawngreen;
    font-family: 'Courier New', Courier, monospace ;
}
.Work_Out{
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace ;
}
.Driving{
    background-color: limegreen;
    font-family: 'Courier New', Courier, monospace ;
}
.Dinner{
    background-color: red;
    font-family: 'Courier New', Courier, monospace ;
}
img{
    width:500px;
    height: auto;
    float: right;
    padding:10px;
}
.center{
    text-align: center;
}
p{
    font-family: 'Courier New', Courier, monospace ;
}
li{
    font-family: 'Courier New', Courier, monospace ;
}
strong{
    font-family: 'Courier New', Courier, monospace ;
}
em{
    font-family: 'Courier New', Courier, monospace ;
}
h1, h2{
    font-family: 'Courier New', Courier, monospace ;
}
h1{
    font-size:x-large;
}